<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
		<ion-title>eCommerce</ion-title>
		<ion-buttons end top-links></ion-buttons>
	</ion-navbar>
	<ion-toolbar color="primary">
		<div search class="search-form"></div>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-slides pager style="height:160px">
		<ion-slide [style.background-color]="slide.image" *ngFor="let slide of homeSlider | async">
			<h2>{{slide.title}}</h2>
			<p>{{slide.description}}</p>
		</ion-slide>
	</ion-slides>
	
	<ion-grid no-padding>
		<ion-title>Best Deals</ion-title>
		<ion-row>
			<ion-col width-50 no-padding *ngFor="let item of bestDeals | async">
				<ion-card [style.background-color]="item.image" (click)="goToProduct(item.sku)">
					<img src="img/nin-live.png"/>
					<ion-card-content>
						<ion-card-title>{{item.name}}</ion-card-title>
						<p>Rs. {{item.price}}</p>
						<button ion-button (click)="addToCart({'sku': item.sku, 'name': item.name, 'qty': 1, 'price': item.price});">Add to cart</button>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<ion-grid no-padding>
		<ion-title>Top Brands</ion-title>
		<ion-row>
			<ion-col width-50 no-padding *ngFor="let item of topBrands | async">
				<ion-card [style.background-color]="item.image" (click)="gotoBrand(item.code)">
					<img src="img/nin-live.png"/>
					<ion-card-content>
						<ion-card-title>{{item.name}}</ion-card-title>
						<p>{{item.desc}}</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
