<ion-menu [content]="content">

	<ion-header>
		<ion-toolbar>
			<ion-title>
				<span *ngIf="profile">Hi {{(profile|async)?.displayName}}!</span>
				You looking for?
			</ion-title>
			<ion-buttons>
				<button ion-button (click)="switchMenuType(type?.code)" *ngFor="let type of menuLinks|async" [color]="(menuType == type?.code) ? 'primary':''">{{type.name}}</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<div class="level0" *ngFor="let type of menuLinks|async">
			<ion-list [ngClass]="type?.code" *ngIf="type?.code && (menuType==type?.code)">
				<div class="level1" *ngFor="let link of type?.child">
					<ion-item-group *ngIf="link?.code">
						<ion-item-divider color="light">{{link?.name}}</ion-item-divider>
						<div class="level2" *ngFor="let subLink of link?.child">
							<button ion-item *ngIf="subLink?.code" (click)="openCategoryLink(subLink?.code)">{{subLink?.name}}</button>
						</div>
					</ion-item-group>
				</div>
			</ion-list>
		</div>
		
		<ion-list>
			<button ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</button>
			<button ion-item (click)="logout()" *ngIf="profile">Logout</button>
			<button ion-item (click)="goTo('login',{'section':'login'})" *ngIf="!profile">Login</button>
		</ion-list>
	</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
