<ion-menu [content]="content">

	<ion-header>
		<ion-toolbar>
			<ion-title>
				<span *ngIf="profile">Hi {{(profile|async)?.displayName}}!</span>
				You looking for?
			</ion-title>
			<ion-segment [(ngModel)]="menuType">
				<ion-segment-button value="men">Men</ion-segment-button>
				<ion-segment-button value="women">Women</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
	</ion-header>

	<ion-content>    
		<div [ngSwitch]="menuType">
			<ion-list *ngSwitchCase="'men'">
				<ion-item-group>
					<ion-item-divider color="light">Clothings</ion-item-divider>
					<ion-item>Shits</ion-item>
					<ion-item>Jeans</ion-item>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light">Shoes</ion-item-divider>
					<ion-item>Boots</ion-item>
					<ion-item>Sandals</ion-item>
					<ion-item>Slippers</ion-item>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light">Sports</ion-item-divider>
					<ion-item>Boots</ion-item>
					<ion-item>Sandals</ion-item>
					<ion-item>Slippers</ion-item>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light">Accesories</ion-item-divider>
					<ion-item>Boots</ion-item>
					<ion-item>Sandals</ion-item>
					<ion-item>Slippers</ion-item>
				</ion-item-group>
			</ion-list>

			<ion-list *ngSwitchCase="'women'">
				<ion-item-group>
					<ion-item-divider color="light">Clothings</ion-item-divider>
					<ion-item>Shits</ion-item>
					<ion-item>Jeans</ion-item>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light">Shoes</ion-item-divider>
					<ion-item>Boots</ion-item>
					<ion-item>Sandals</ion-item>
					<ion-item>Slippers</ion-item>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light">Sports</ion-item-divider>
					<ion-item>Boots</ion-item>
					<ion-item>Sandals</ion-item>
					<ion-item>Slippers</ion-item>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light">Accesories</ion-item-divider>
					<ion-item>Boots</ion-item>
					<ion-item>Sandals</ion-item>
					<ion-item>Slippers</ion-item>
				</ion-item-group>
			</ion-list>
		</div>
		
		<ion-list>
			<button ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</button>
			<button ion-item (click)="logout()" *ngIf="profile">Logout</button>
			<button ion-item (click)="goTo('login',{'section':'login'})" *ngIf="!profile">Login</button>
		</ion-list>
	</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
